* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  width: 100vw;
  height: 100%;
  background-image: url("./../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
}
h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
main {
  width: 100%;
  height: 100%;
  text-align: center;

  color: #ffffff;
  padding-top: 40px;
}
hr {
  border: 1px solid #eeeeee99;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.search-container {
  margin-top: 40px;
}

.details-container {
  margin-top: 20px;
  background: #000000a1;
}

.response-api-basic p {
  margin-bottom: 10px;
}
